/* Importing Fonts Raleway and Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto+Slab:wght@900&family=Roboto:wght@300;500;700&display=swap');
/* 
Assets used for page creation:

*/

/* color pallet variables */
:root {
    --altBlue: #6fc0db;
    --altBlueTrans: #6fc0dbaf;
    --blue: #6F9FD8;
    --darkGray: #292f33;
    --medGray: #66757f;
    --lightGray: #ccd6dd;
    --lighterGray: #e1e8ed;
}

/* Clear default margin, padding and border to control sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* set all elements to transparent so the jQuery script can reveal them stylishly */
    opacity: 0;

    /* for debugging layout issues enable this border below. */
    /* border: 1px solid red; */
}

html {
    height: 100%;
}

/* total page width and base styling */
body {
    /* height: 100%;
    width: 100%; */
    font: 1rem 'Open Sans', sans-serif;
    background-color: ivory;
}

/* props for all paragraph elements */
p {
    max-width: 45em;
}

/* Wrapper for entire page, defines grid layout*/
.page {
    max-width: 1400px;
    height: 100%;
    min-height: 700px;
    margin: auto;
}

/* Header container */
#main-header {
    opacity: 0; /* setting opacity to 0 so animation can fade it in */
    text-align: center;
    margin: auto;
    height: 10rem;
    width: 100%;
    background-color: #6F9FD8;
    color: white;
    /* overflow: hidden; */
    /* box-shadow: 0 0 .7rem rgb(45, 45, 45); */
}

/* All h1's in the header container */
#main-header h1 {
    position: relative;
    top: -2.8rem;
    padding: 0 0.5rem;
    font: 300 12rem 'Roboto Slab', serif;
    white-space: nowrap;
    text-shadow: .4rem 0.2rem .2rem rgba(0, 0 , 0, 0.3);
}

/* Desktop h1 header element hidden until @media query */
#desktop-heading {
    display: none;
}

/* content that's not the header */
main {
    opacity: 0; /* setting opacity to 0 so animation can fade it in */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em auto; 
}

/* disable sidebar visibility until size is 1024px */
nav {
    display: none;
}

/* Intro heading box spacing */
#introduction {
    margin: auto;
}

/* includes sidebar nav section and intro content */
#top-box {
    display: flex;
    margin: 0 auto;
}

/* Paragraph styling for top section */
#top-box #introduction p {
    margin: 0 auto;
    padding: 1em;
}

/* divider between content and intro/nav */
hr {
    background-color: var(--lightGray);
    width: 75%;
    height:.2rem;
    margin: 0 auto;
    border-width: 0;
    border-radius: 1em;
}

#content-divider {
    width: 25%;
}

/* content container */
#middle-box {
    margin: 0 auto;
}

/* title styling for all content posts */
.post-title {
    padding: 1em;
    margin-top: 1em;
    background-color: #CCD6DD;
    /* color: white; */
    border-radius: 0.5em;
}

/* Paragraph styling for middle section */
#middle-box p{
    padding: 1em;
    margin: 0 auto;
}

/* initial large job description text */
#introduction > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--darkGray);
    /* background-color: var(--blue); */
    /* border-radius: 0.5em; */
    margin: auto;
    padding: 1.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
    max-width: 100%;
    text-align: center;
}
.emphasize {
    color: var(--blue);
    font-weight: bold;
}
/* contruction site begin */
#contruction {
    margin:5rem auto 5rem auto;
}

#contruction > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: var(--darkGray);
    margin: auto;
    padding: 1rem;
    font-size: 1.7em;
    max-width: 100%;
    text-align: center;
}

#contruction p {
    margin: 0 auto;
    text-align: center;
}

/* general bottom footer styling */
#bottomContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1400px;
}

#branding {
    display: flex;
    justify-content: space-around;
    height: 8rem;
    width: 100%;
    padding: 0.5rem;
}

#bottom-photo {
    display: flex;
    width: 33%;
    height: 100%;
    padding: 1rem;
}

/* bottom image formatting */
#bottom-photo img {
    transform: scaleX(-1);
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.8em;
    margin: auto;
}

/* right side links div styling */
#footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 66%;
    height: 100%;
    padding: .5rem;
}

/* test to direct users to links */
#footer-links h4 {
    text-align: center;
    padding: .3rem;
}

/* spacing out the links horizontally */
#links ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 .1rem;
}

/* styling the links themselves */
#links li {
    list-style-type: none;
    padding: 2%;
}
/* link colors */
a:visited {
    color: var(--altBlue);
}
a:link {
    color: var(--blue);
    text-decoration: initial;
}
a:hover {
    color: var(--darkGray);
}

/* For desktop/laptop/ipad-pro screen res */
@media only screen and (min-width: 1024px) {

    body {
        font-size: 1rem;
    }

    /* header#main-header {
        text-align: initial;
    } */

    #mobile-heading {
        display: none;
    }

    h1#desktop-heading {
        display: initial;
    }

    /* nav {
        display: initial;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 0.5em;
        width: 25%;
        padding: 1em;
    } */
    
    ul {
        list-style-type: square;
    }

    #introduction {
        width: 75%;
        padding: 1em;
    }
}