/* Importing Fonts Raleway and Roboto Slab */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:700');

/* 
Assets used for page creation:

Colors:
#6fc0db blue
*/

/* Clear default margin, padding and border to control sizing */
* {
    margin: 0;
    padding: 0;

    /* for debugging layout issues enable this border below. */
    /* border: 1px solid red;  */
    
    box-sizing: border-box;
}
/* total page width and base styling */
body {
    width: 100%;
    font: .8em 'Raleway', sans-serif;
}

/* Wrapper for entire page, defines grid layout*/
.page {
    max-width: 1400px;
    margin: auto;
}

/* Header container */
header#main-header {
    display: flex;
    justify-content: center;
    height: 9rem;
    grid-column: 0/1;
    background-color: #6fc0db;
    overflow: hidden;
    box-shadow: 0 .1rem .5rem rgb(45, 45, 45);
}

/* All h1's in the header container */
#main-header h1 {
    position: relative;
    top: -5.8rem;
    font: bold 15rem 'Roboto Slab', serif;
    white-space: nowrap;
}

/* Desktop specific text. **Will be replaced by jQuery** */
#desktop-heading {
    display: none;
}
/* content that's not the header */
main {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 2em auto;
}
/* disable sidebar visibility until size is 1024px */
nav {
    display: none;
    }

/* initial large job description text */
#introduction > h3 {
        margin: auto;
        padding: 0 2em 0;
        font-size: 1.3em;
        max-width: 30em;
    }

    /* Paragraph styling */
#introduction p {
    margin: 2em auto;
    max-width: 45em;
}

@media only screen and (min-width: 1024px) {

    body {
        font-size: 1em;
    }

    header#main-header {
        justify-content: flex-start;
    }

    #mobile-heading {
        display: none;
    }

    h1#desktop-heading {
        display: initial;
    }

    main {
        width: 95%;
    }

    nav {
        display: initial;
        border: 1px solid rgba(0, 0, 0, 0.4);
        list-style-type: square;
        width: 30%;
        padding: 1.5em;
    }

    ul {
        margin: 1em;
    }

    li {
        margin: 0.5em 0;
    }

    #introduction {
        width: 70%;
    }

}