/* Importing Fonts Raleway and Roboto Slab */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:700');

/* 
Assets used for page creation:

Colors:
#6fc0db blue


*/

/* Clear default margin, padding and border to control sizing */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font: .8em 'Raleway', sans-serif;
}

/* Wrapper for entire page, defines grid layout*/
.page {
    max-width: 1600px;
    margin: auto;
}

/* Header container */
header#main-header {
    display: flex;
    justify-content: center;
    height: 9rem;
    grid-column: 0/1;
    background-color: #6fc0db;
    overflow: hidden;
    box-shadow: 0 .1rem .5rem rgb(45, 45, 45);
}

/* All h1's in the header container */
#main-header h1 {
    position: relative;
    top: -5.8rem;
    font: bold 15rem 'Roboto Slab', serif;
    white-space: nowrap;
    /* text-overflow: clip; */
}

/* Desktop specific text. **Will be replaced by jQuery** */
#desktop-heading {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    /* justify-items: center;
    grid-column-gap: 5%; */
}

nav {
    display: none;
    }


#introduction > h3 {
        padding: 2em 2em 0;
        font-size: 1.3em;
    }

    /* Paragraph styling */
p {
    text-align: justify;
    padding: 2em 0 0;
}

@media only screen and (min-width: 1024px) {

    body {
        font-size: 1em;
    }

    header#main-header {
        justify-content: flex-start;
    }

    #mobile-heading {
        display: none;
    }

    h1#desktop-heading {
        display: initial;
    }

    main {
        max-width: 50em;
    }

    nav {
        display: initial;
        width: 30%;
        padding-right: 1.5em;
    }

    ul {
        padding: 1em;
    }

    #introduction {
        width: 70%;
    }

}